body {
  background-color: lightblue;
  background-image: url(https://th.bing.com/th/id/OIP.nc_gboFFY7MOjdiC129jXgHaE6?w=270&h=180&c=7&r=0&o=5&pid=1.7);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(251, 251, 251);
}

img {
  width: 50%;
  border-radius: 5%;
  
}

h1 {
  text-align: center;
}

h3>span {
  background-color: rgb(167, 94, 34);
  line-height: 2
}

h2 {
  border: 5%;
}

ul{
  list-style: none;
  display: inline-flex;
}
li{
  display: inline;
}


#puppy {
  text-align: center;
}

.inPuppy {
  font-size: 150%;
}

.inPuppyImage {
  width: 30%;
}

.buttonImage {
  text-align: center;
  background-color: rgba(2, 135, 40, 0);
  width: 20%;
  border: none;
  border-radius: 25%;
}


.imageButton {
  position: relative;
  text-align: center;
  color: white; /* Text color */
}

 /* .imageButton img {
  width: 100%;
} */

.text {
  /* position: center; */
  top: 60%;
  left: 50%;
  font-size: 100%;
  transform: translate(0%, -225%);
  color: white;

}