body {
  background-color: lightgray;
}

img {
  width: 50%;
  
}

h1 {
  text-align: center;
}

h2 {
  border: 5%;
}

ul{
  list-style: none;
  display: inline-flex;
}
li{
  display: inline;
}

#puppy {
  text-align: center;
}

.inPuppy {
  font-size: 150%;
}

.inPuppyImage {
  width: 30%;
}

.buttonImage {
  text-align: center;
  background-color: lightgray;
  width: 20%;
  border: none;
}


.imageButton {
  position: relative;
  text-align: center;
  color: white; /* Text color */
}

 /* .imageButton img {
  width: 100%;
} */

.text {
  /* position: center; */
  top: 60%;
  left: 50%;
  font-size: 100%;
  transform: translate(0%, -225%);
  color: white;

}